body {
    color: #444;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Helvetica, Arial, sans-serif;
}

/*----- HEADER ------*/
.header {
    margin-top: 20px;
    margin-bottom: 50px;
}
.header li { display: inline-block; }

.header a { color: #444; }

/*----- FOOTER -----*/
.footer {
    border-top: 1px solid #444;
    margin-top: 50px;
    padding-top: 10px;
}

/*----- TILE -----*/
.tile {  padding: 0; }
.tile img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.tile:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*----- PIECE -----*/
.piece {
    margin: 0 auto;
    width: 600px;
}

/*----- SOCIAL ------*/
.social { padding-top: 20px; }
.social li {
    display: inline-block;
    padding: 0 15px;
}
.social img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 75px;
}
.social img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}